<ion-view view-title='{{cityTitle}}'>
  <ion-content>
    <h3>{{cityTitle}}</h3>

    {{data}}

    <!-- //////////////////////////////////////////////////// -->

    <my-calendar></my-calendar>

    <hr /> <!-- //////////////////////////////////////////////////// -->

    <table>
      <tr>
        <th ng-repeat='th in dataKeys' style='border:1px solid black;'>
          {{th}}
        </th>
      </tr>
      <tr ng-repeat='tr in data'>
        <td
          ng-show='tr.ver'
          ng-repeat='td in tr'
          style='border:1px solid black;'
          ng-style='tr.ch=="0:00"?{"border-top-width":"3px"}:{}'
        >
          {{td}}
        </td>
      </tr>
    </table>

    <!-- //////////////////////////////////////////////////// -->

  </ion-content>
</ion-view>
